.container{
    
    display: flex;
    justify-content: center;
}

.perfil{
  
    display: flex;
    justify-content: center;
    
}

.perfil img{
    border:solid;salmon
    height: 150px;
    width: 150px;
}


h1{
    display: flex;
    justify-content: center;
    border:solid;salmon
    display: flex;
    justify-content: center;
    color: rgb(42, 165, 52);
}
.links{
  
    border:solid;salmon
    color:#d000ff;
}
.links li{
  
    color:#d000ff;
}
.links li a {
  
    color:#d000ff;
}
.links li a:hover{
   
    color:#d000ff;
}
